.pageheading {
    text-align: center;
    background-color: red;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

.des {
    font-size: 24px;
    font-weight: 500;
    color: green;
}

.image {
    margin-left: 200px;
}