.pageheading {
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.des {
    font-size: 24px;
    font-weight: 500;
    color: green;
}

.image {
    margin:  0px auto;
    margin-left: 200px;
    border: 2px solid red;
}

li {
    font-size: 20px;
    font-weight: 500;
    color: rgb(144, 11, 11);
}

.recipe-list {
    display: inline-block;
    cursor: pointer;
    margin-right: 12px;
}

.recipe-list:hover {
    background-color: lightblue;
    color: white;
}

.logo {
    border: solid;
}
.logo img {
    margin-left: 260px; 
    width: 200px;
}